<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158027069-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-158027069-1');
	</script>

	<title>Kerttervezés, -építés, -fenntartás - KertetNeked.hu</title>
	<!-- A Google Strukturált Adatjelölő Súgója által generált JSON-LD jelölés. -->
	<script type="application/ld+json">
		{
		"@@context" : "http://schema.org",
		"@@type" : "LocalBusiness",
		"name" : "KertetNeked",
		"image" : "https://www.kertetneked.hu/images/BinderNorbert.jpg",
		"telephone" : "+36 30 255 3133",
		"email" : "info@kertetneked.hu",
		"address" : {
		"@@type" : "PostalAddress",
		"streetAddress" : "Szénbányászok útja 45",
		"addressLocality" : "Csolnok",
		"postalCode" : "2521"
		}
		}
	</script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<meta name="description" content="Elérhető áron vállaljuk kertek tervezését, építését és kertfenntartását Esztergom 50 km-es vonzás körzetében. Szolgáltatásaink közé tartoznak: öntözőrendszerek telepítése, fűvesítés, fűkaszálás, támfalépítés, növények telepítése, kerti tavak építése, gyepfelújítás.">
	<meta name="keywords" content="Kerttervezés, kertépítés, kertfenntartás">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="icon" type="image/png" href="~/images/kertetneked_logo_ico.ico">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/img-gallery.css">
	<link rel="stylesheet" href="css/tooplate-style.css?v=1.1">

</head>
<body>

	<section class="preloader">
		<div class="spinner">
			<span class="spinner-rotate"></span>
		</div>
	</section>


	<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>

				<a href="../Index" class="navbar-brand">KertetNeked.hu</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#book" class="smoothScroll">Bemutatkozás</a></li>
					<li><a href="#scope" class="smoothScroll">Szolgáltatások</a></li>
					<li><a href="#references" class="smoothScroll">Referenciák</a></li>
					<li><a href="#contact" id="contactLink" class="smoothScroll">Elérhetőségek</a></li>
				</ul>
			</div>

		</div>
	</section>


	<section id="home" class="home-banner-background" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-6 col-sm-12">
					<div class="home-info">

						<h1>KertetNeked</h1>
						<p><font size="6" style="font-style:italic">tervezés, építés, fenntartás</font></p>
						<br />
						<p><font size="6">Elérhető áron!</font></p>
						<br />
						<form class="online-form">
							<button type="button" id="interest" onclick="$('#contactLink').click();" class="form-control">ÉRDEKEL</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="book" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-sm-6">

					<div class="section-title">
						<h2>Bemutatkozás</h2>
					</div>

					<div class="tab-pane-item">
						<p>Először is szeretném megköszönni, hogy felkereste honlapunkat!</p>
						<p>Binder Norbert vagyok. Több, mint 10 éves szakmai előélet után egyéni vállalkozásba kezdtem. Esztergom 50 kilóméteres vonzáskörzetében (Komárom, Tatabánya, Budapest, Szentendre...) foglalkozom kertek építésével, felújításával és gondozásával.</p>
						<p>Számomra fontos értékek: becsületes munkavégzés, szakértelem, minőségi munka, pontosság, elérhető ár, megrendelővel való együttműködés.</p>
					</div>
					<div class="tab-pane-item">
					</div>
					<div class="tab-pane-item">
					</div>

				</div>

				<div class="col-md-6 col-sm-6">
					<div class="feature-image">
						<picture>							
							<img class="profile-image img-responsive" src="~/images/kertetneked_logo.png" alt="KertetNeked">
						</picture>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section id="scope" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row" class="text-center">
				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<h2>Szolgáltatások</h2>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 text-left">
					<p><i class="fa green-pipe">&#xf00c;</i> Felmérés</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Kerttervezés</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Kertépítés</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Öntözőrendszer telepítése</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Kertfelújítás</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Kertgondozás, -fenntartás</p>
				</div>
				<div class="col-md-4 col-sm-6 text-left">
					<p><i class="fa green-pipe">&#xf00c;</i> Támfalépítés</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Növénytelepítés</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Tóépítés</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Bozótírtás</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Gyepfelújítás</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Gyepszellőztetés</p>
				</div>
				<div class="col-md-4 col-sm-6 text-left">
					<p><i class="fa green-pipe">&#xf00c;</i> Évelő kertek felújítása, fenntartása</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Szőlő, gyümölcsfa metszés</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Fűkaszálás</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Alkalmi kerterendbetétel</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Kerti utak kialakítása</p>
					<p><i class="fa green-pipe">&#xf00c;</i> Fűvesítés</p>
				</div>

			</div>
		</div>
	</section>

	<section id="references" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<h2>Referenciák</h2>
					</div>
				</div>

				<div class="col-md-12 col-sm-12 imggallery">
					<meta name="viewport" content="width=device-width, initial-scale=1.0">
					<div class="img-container-all">
						<div class="img-container">
							<picture>
								<source type="image/webp" srcset="~/images/Dorog.webp">
								<source type="image/jpeg" srcset="~/images/Dorog.jpg">
								<img src="~/images/Dorog.jpg" alt="Dorog">
							</picture>						
						</div>
						<div class="img-container">
							<picture>
								<source type="image/webp" srcset="~/images/Szentendre.webp">
								<source type="image/jpeg" srcset="~/images/Szentendre.jpg">
								<img src="~/images/Szentendre.jpg" alt="Szentendre">
							</picture>
						</div>
						<div class="img-container">
							<picture>
								<source type="image/webp" srcset="~/images/Esztergom.webp">
								<source type="image/jpeg" srcset="~/images/Esztergom.jpg">
								<img src="~/images/Esztergom.jpg" alt="Esztergom">
							</picture>
						</div>
						<div class="img-container">
							<picture>
								<source type="image/webp" srcset="~/images/Pilisvörösvár.webp">
								<source type="image/jpeg" srcset="~/images/Pilisvörösvár.jpg">
								<img src="~/images/Pilisvörösvár.jpg" alt="Pilisvörösvár">
							</picture>
						</div>
						<div class="img-container">
							<picture>
								<source type="image/webp" srcset="~/images/Telki.webp">
								<source type="image/jpeg" srcset="~/images/Telki.jpg">
								<img src="~/images/Telki.jpg" alt="Telki">
							</picture>
						</div>
						<div class="img-container">
							<picture>
								<source type="image/webp" srcset="~/images/Nagykovácsi.webp">
								<source type="image/jpeg" srcset="~/images/Nagykovácsi.jpg">
								<img src="~/images/Nagykovácsi.jpg" alt="Nagykovácsi">
							</picture>
						</div>
					</div>
				</div>

			</div>
			<br />
			<div class="row more-reference">
				<div class="col-md-12 col-sm-12 text-center">
					<a href="https://photos.app.goo.gl/3dR5cjbhRekKa7LH6" class="linkbutton">Még több referencia...</a>
				</div>

			</div>
		</div>
	</section>

	<section id="contact" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-3 col-md-6 col-sm-12">
					<div class="section-title">
						<h2>Elérhetőségek</h2>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-4 col-sm-4">
					<div class="team-thumb">
						<br />
						<a href="https://www.google.com/maps/place/Csolnok,+Sz%C3%A9nb%C3%A1ny%C3%A1szok+%C3%BAtja+45,+2521/&#64;47.6996228,18.7117458,17z/data=!3m1!4b1!4m5!3m4!1s0x476a643551ca87ad:0x929f7c60069ec308!8m2!3d47.6996192!4d18.7139345" 
						target="_blank">
							<i class="fa contact-icons">&#xf041;</i>
							<p>Cím</p>
							<div class="team-info team-thumb-up">
								<p class="text-center">2521, Csolnok Szénbányászok útja 45.</p>													
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="team-thumb">
						<br />
						<a href="tel:+36 30 255 3133">
							<i class="fa contact-icons">&#xf095;</i>
							<p>Telefon</p>
							<div class="team-info team-thumb-up">
								<p class="text-center">+36 30 255 3133</p>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="team-thumb">
						<br />
						<a href="mailto:info@kertetneked.hu">
							<i class="fa contact-icons">&#xf0e0;</i>
							<p>E-mail</p>
							<div class="team-info team-thumb-up">			
								<p class="text-center">info@kertetneked.hu</p>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</section>

	<div class="container order-footer">
		<div class="row">
			© Copyright 2021 - All Rights Reserved
		</div>
	</div>


	<script src="~/js/modernizr-custom.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/custom.js"></script>
	<script type="text/javascript">

		var quadimages = document.querySelectorAll("#quad figure");
		for (i = 0; i < quadimages.length; i++) {
			quadimages[i].addEventListener('click', function () { this.classList.toggle("expanded"); quad.classList.toggle("full") });
		}
	</script>

</body>
</html>